.App-CommitPanel {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  z-index: 3501;

  .App-button.disabled {
    cursor: not-allowed;

    i {
      opacity: 0.5;
    }
  }
}

.App-CommitPanel-Icon {
  color: white;
  font-size: 21pt;
}
