REACT_APP_BASE_URL=https://localhost:5401
REACT_APP_API_BASE_URL=https://localhost:54052
REACT_APP_GITHUB_CLIENT_ID=client_id
REACT_APP_API_DOCS_REPO_OWNER=owner
REACT_APP_API_DOCS_REPO=apydox-content