apydox-api
apydox-api.conf
.env
coverage.out
**/main
secrets.json
aws-sam-packaged.yaml
sam-deploy-params.json

# Ignore scripts that are used for things like testing out shell functionality
# that might be added to a Makefile or as a part of a job in the circleci configuration.
test-*.sh